<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Sell a Gundam!</h1>
    <div>
        <form action="/gundam" method="POST">
            Name: <br><input type="text" name="name"><br>
            Price: <br>$<input type="number" name="price"><br>
            Image Links: <br><input type="text" name="images"><br>
            Shipping Cost: <br>$<input type="number" name="shipping"><br>
            Estimated Arrival: <br><input type="text" name="estimatedArrival"><br>
            <input type="submit" value="Create Post" class="create">
        </form>
    </div>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>