* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(111, 190, 226); */
    background-image: linear-gradient(to right, rgba(115, 201, 254, 0.5), rgba(24, 127, 175, 1));
    flex-wrap: wrap;
}

.logoD {
    width: 100%;
    /* height: 10%; */
    
}

.logoD:hover {
    cursor: pointer;
}

#logo {
    width: 40%;
    height: 40%;
    object-fit: contain;
}


.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vh;
    
}

li {
    list-style: none;
    margin: 3%;
}

.cartPic, .wishlist {
    width: 4.8vh;
    height: 4.4vh;
    border-radius: 100%;
    object-fit: cover;
}

.create {
    margin: 2% 2% 2% 2%;
    font-size: 2vh;
    padding: 1%;
    background-color: rgb(111, 190, 226);
    color: white;
    border: none;
}

.create:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.index {
    
    margin: auto;
}

.index img {
    width: 30%;
    height: 40%;
    margin: 4%;
}

.name {
    position: relative;
    font-size: 2vh;
    margin: 2%;
    bottom: 20px;
}

input {
    margin: 2%;
    width: 60%;
}

.login {
    margin: 2%;
    width: 10%;
}

h1 {
    margin: 1%;
}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}


td {
    border: 2px solid rgb(179, 175, 175);
}

footer {
    text-align: left;
    margin-left: 2%;
}

button:hover, input {
    cursor: pointer;
}