<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
   
</head>

<body>
    <%- include ('../partials/nav.ejs') %>
    <img src="https://cdn.shopify.com/s/files/1/0727/8355/files/usagundam_mascot_variants-13.png?14647" alt="" style="width: 20%; height: 20%;">

    <!-- <h1>Create an Account</h1> -->
    <form action="/users/newUser" method="POST">
        Username: <br><input type="text" name="username" class="login" style="width: 20%;"><br>
        Password: <br><input type="text" name="password" class="login" style="width: 20%;"><br>
        <input type="submit" value="Create" class="login" style="width: 15%; border-radius: 20px 20px 20px 20px; background-color: rgb(34, 170, 237); border: none; padding: 1%; color: white;">
    </form>
    <p>Already have an account?</p>
    <button onclick="window.location.href='/sessions/new'" class="login" style="width: 15%; border-radius: 20px 20px 20px 20px; background-color: rgb(34, 170, 237); border: none; padding: 1%; color: white;">Login</button>
    
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>
</html>